<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mountain Pass Valet</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body>
        <h1 data-postion="header">Mountain Pass Resort Valet</h1>
        
        <section class="add-car-section" data-postion="add-car">
            <form action="/addCar" method="POST">
                <input type="text" placeholder="Car Brand" name="carBrand">
                <input type="text" placeholder="Lisense Plate" name="lisensePlate">
                <input type="number" placeholder="Spot Number" name="spotNum">
                <button type="submit">Submit</button>
            </form>
            <div>
                <h3>Total parking spots: 100</h3>
                <!-- <h3>Available parking spots: <span id="spacesLeft"></span></h3> -->
            </div>
        </section>

        <section data-postion="car-lot">
            <h2>Cars</h2>
            <ul class="parkingLot">
                <% for(let i=0; i < info.length; i++) {%>
                <li class="car">
                    <p><strong> Car Brand: </strong><span><%= info[i].carBrand %></span>,
                        <strong> Lisense Plate: </strong><span><%= info[i].lisensePlate %></span>,
                        <strong> Spot #: </strong><span><%= info[i].spotNum %></span>
                    <i class="fa fa-trash"></i></p>
                    
                </li>    
            <% } %>
            </ul>
        </section>
        
    

    <script src='js/main.js'></script>
</body>
</html>    