html,
body {
  height: 100%;
}

html {
  font-size: 125%;
  line-height: 1.4;
  font-family: Helvetica;
}
body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr;
    grid-template-areas:
      "header"
      "add-car"
      "car-lot";
    gap: 1rem;
    margin: 0;
    padding: 1rem;
    background-color: #ffffff;
    background-image: url("https://images.pexels.com/photos/1173777/pexels-photo-1173777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-attachment: fixed;
    background-size: cover;
}

[data-position="header"] {
    grid-area: header;
}

[data-position="add-car"] {
    grid-area: add-car;
}

[data-position="car-lot"] {
    grid-area: car-lot;
    overflow: scroll;
}

[data-position] {
    background-color: rgb(74, 207, 196);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

h1,
h2 {
    margin: 0;
    padding: 10px;
    background-color: rgb(74, 207, 196);
    text-align: center;
}

form,
.add-car-section {
    padding: 5px;
    display: flex;
    background-color: rgb(74, 207, 196);
    border-radius: 0.5rem;
    
}
input,
button {
    padding: 5px;
    size: 20px;
}

.parkingLot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgb(74, 207, 196);
    background-size: auto;
}